footer
    .row
        .container
            .logo
                img(src="assets/images/logo.png", alt="")
            .contacts__wrapper
                .contact__item
                    img(src="assets/images/icons/24h.png", alt="")
                    span Круглосуточно
                .contact__item
                    img(src="assets/images/icons/phone_2.png", alt="")
                    a(href="tel:+7 (123) 456-78-90") +7 (123) 456-78-90 
                .contact__item
                    img(src="assets/images/icons/mail.png", alt="")
                    a(href="mailto:mail@dragonfly.ru") mail@dragonfly.ru
    .row
        .container
            .menu__wrapper
                .col
                    a(href="about.html") О компании
                    a(href="contacts.html") Контакты
                    //a(href="#") Вакансии
                    //a(href="#") Юр. лицам
                    //a(href="#") Грузоперевозки
                .col
                    //a(href="#") Тарифы
                    //a(href="#") Правила
                    //a(href="#") Курьерам
                    //a(href="#") Отзывы
                .col
                    
                    //a(href="#") Магазинам
                    //a(href="#") FAQ
            .policy__wrapper
                button.btn.blue заказать доставку
                a(href="#") Политика конфиденциальности
            .coperight__wrapper
                span Copyrigth 2020 - все права защищены.Копирование информации без указания источника преследуется законом
                .copyright
                    span 
                        |Разработка платформы - 
                        a(href="#") Salut Promo

