header
    .navbar
        .container
            a.logo(href="/")
                img(src="assets/images/logo.png", alt="")
            .wrapper
                .contact__item
                    img(src="assets/images/icons/phone.png", alt="")
                    a(href="tel:+7 (495) 776-50-66") +7 (495) 776-50-66 
                button.btn.orange(modal="modalDelivery") Заказать доставку
                a(href="#").link.ur для юридических лиц
                button.btn.login вход/регистрация
            button.btn__menu
                span
    .menu
        .container
            a(href="about.html") О компании 
            a(href="vacancies.html") Вакансии 
            //a(href="#") Юр. лицам 
            //a(href="#") Грузоперевозки 
            //a(href="#") Тарифы 
            //a(href="#") Правила 
            //a(href="#") Курьерам 
            //a(href="#") Отзывы 
            a(href="contacts.html") Контакты 
            //a(href="#") Магазинам 
            //a(href="#") FAQ 
        .container
            .contact__item
                    img(src="assets/images/icons/phone.png", alt="")
                    a(href="tel:+7 (123) 456-78-90") +7 (123) 456-78-90 
            button.btn.orange(modal="modalDelivery") Заказать доставку
            a(href="#").link для юридических лиц
            button.btn.login вход/регистрация
