doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        include pug/navbar.pug
        section.about
            .container
                h1.title О компании
                .cke__wrapper
                    p 
                        |При создании сервиса мы постарались взять все самое лучшее, что есть на рынке оказания данного вида услуг на сегодняшний день! Нашей командой были проанализированы и учтены пожелания как клиентов, так и курьеров. Надеемся на взаимовыгодное сотрудничество и на то, что пользование нашим сервисом оставит у вас только благоприятные впечатления и вам захочется обращаться к нам снова! Мы стремимся к улучшению качества предоставления услуг и ждём ваши отзывы о работе сервиса!
                    i
                        |Всегда на связи, Команда DGF Post.
                    p
                        |P.S. Уважаемые клиенты, воспользоваться нашим сервисом вы сможете в ближайшее время, следите за информационными сообщениями!  


        include pug/footer.pug
        include pug/scripts.pug