include pug/modal.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        include pug/navbar.pug
        section.contacts
            .container
                h1.title Контакты
                .contacts__wrapper
                    .contact__item
                        img(src="assets/images/icons/24h.png", alt="")
                        span Круглосуточно
                    .contact__item
                        img(src="assets/images/icons/phone_2.png", alt="")
                        a(href="tel:+7 (123) 456-78-90") +7 (495) 776-50-66 
                    .contact__item
                        img(src="assets/images/icons/mail.png", alt="")
                        a(href="mailto:mail@dragonfly.ru") mail@dgfpost.ru
                    .contact__item
                        img(src="assets/images/icons/geo.png", alt="")
                        span г.Москва, Строительный проезд, д.7А, корп.28.
        section.ymap
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9c31396fcf77c08fc674a7d47b5637db39e58ae42b0e25634f56a5a76ae8bfb0&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
        section.contacts__info
            .container
                .col
                    p 
                        |ООО «КУРЬЕР-ПРО»; <br>
                        |125362, г.Москва, Строительный проезд, д.7А, корп.28. <br>
                        |ОГРН 1217700069620 <br>

                .col
                    P 
                        |ИНН 7733365069 <br>
                        |КПП 773301001 <br>

        include pug/footer.pug
        +Modal("modalDelivery", "ModalDelivery")
        include pug/scripts.pug