include pug/modal.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        include pug/navbar.pug
        section.first__scroll
            .container.row
                .col__text
                    .text__wrapper
                        h1 
                            |Курьерская служба доставки
                            span 
                                | от 
                                b 200 р.
                        p Экспресс-доставка от двери до двери
                    form.form__wrapper
                        .form__group
                            input(type="text" placeholder="Адрес отправки")
                        .form__group
                            input(type="text" placeholder="Адрес доставки")
                        .radio__wrapper
                            label.radio Пешком
                                input(type="radio" name="delivery_type")
                                span.checkmark
                            label.radio На автомобиле
                                input(type="radio" name="delivery_type")
                                span.checkmark
                        button.btn.orange Расчитать стоимость
                    .info__wrapper
                        .info
                            .image 
                                img(src="assets/images/icons/info_time.png", alt="")
                            .text
                                span 
                                    |среднее время подачи 
                                    br
                                    |курьера 45 минут
                        .info
                            .image 
                                img(src="assets/images/icons/info_count.png", alt="")
                            .text
                                span 
                                    |450 активных 
                                    br
                                    |курьеров
                        .info
                            .image 
                                img(src="assets/images/icons/info_delivery.png", alt="")
                            .text
                                span 
                                    |доставим во время 
                                    br
                                    |или доставка за наш счёт
                .col__img
                    img(src="assets/images/bg/курьер.png", alt="")
        section.compensation
            .container
                h1 
                    |Компенсируем 
                    span до 
                    |25 000 ₽
                    span если посылка будет повреждена или утеряна
                p Вернём ценность посылки в течение 3х рабочих дней
        section.pluses
            .container
                .pluses__wrapper
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_1.png", alt="")
                        .text
                            span Стоимость известна заранее, цена обновляется в процессе заполнения формы
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_2.png", alt="")
                        .text
                            span Максимально быстрое назначение заказа
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_3.png", alt="")
                        .text
                            span Оформить заказ на курьерскую доставку можно без лишних бумаг и сэкономив время
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_4.png", alt="")
                        .text
                            span Оплата наличными или картой
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_5.png", alt="")
                        .text
                            span Смс-уведомления. Статус заказа известен отправителю и получателю
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_6.png", alt="")
                        .text
                            span У вас сохраняются все ваши адреса. Нет необходимости вводить детали поездки каждый раз
        section.app
            .container
                .wrapper
                    h1 Отслеживайте курьеров с помощью мобильного приложения
                    p А так же мгновенно создавайте новые заказы 
                    .links__wrapper
                        a(href="#")
                            img(src="assets/images/icons/appstore.png", alt="") 
                        a(href="#")
                            img(src="assets/images/icons/googleplay.png", alt="") 
                img(src="assets/images/bg/phone.png", alt="").phone
        section.reviews
            .container
                h1.title Истории наших клиентов
                .reviews__wrapper
                    .review__item
                        .name Анна Панфилова
                        .job Рукодельница, мама в декрете
                        .text.cke__wrapper
                            p
                                |Я работаю на дому: делаю украшения на заказ. Сначала я продавала свои работы внутри одного города, а потом захотелось большего. Стала искать службы доставки, которые помогут мне с отправкой заказов. Было несколько очень неудачных попыток. Срывали сроки, вечная путаница с оплатой... Уже отчаялась найти нормальную компанию. Но потом открыла для себя данную компанию.
                            p 
                                |С DragonFlyPost отправлять посылки быстро и удобно. Пользуюсь услугами этой службы уже больше года. 
                        .show__all
                            button Смотреть полностью >>
                    .review__item
                        .name Александр Лапин
                        .job студент
                        .text.cke__wrapper
                            p
                                |Учусь в другом городе и не имею возможности часто ездить к родителям. Раньше они передавали вещи и гостинцы с братом, но потом он переехал и стал жить еще дальше меня. Тогда родители начали искать другие способы: отправляли посылки с попутчиками, пользовались услугами почтовых компаний. Но результат не устраивал, а несколько посылок даже потерялись. И тут я заметил отделение DragonFlyPost.
                            p 
                                |С DragonFlyPost все оказалось проще простого. Пришел, отправил, получил. Вся упаковка – бесплатная, выбрать можно хоть коробку, хоть пакет. В других службах доставки нужно было доплачивать за коробки дополнительно. Весь путь посылки можно отследить на сайте, срок доставки тоже устроил. Самое удобное, что пункт выдачи DragonFlyPost находится в соседнем доме от меня, а родителям удобно отправлять из отделения в ближайшем торговом центре. Не нужно далеко ходить и ждать в очередях. С DragonFlyPost всё быстро.
                        .show__all
                            button Смотреть полностью >>
                    .review__item
                        .name Оксана Щебекина
                        .job маркетолог
                        .text.cke__wrapper
                            p
                                |Немного расскажу о себе: я обожаю читать. И читать люблю книги с историей. Чаще всего такие книги хранятся на полках родителей, друзей или незнакомцев, а отдать они их готовы даром. Все, что от меня требуется – найти службу доставки и ждать, когда придет посылка. Казалось бы, дело за малым. Как выяснилось, от службы доставки тоже много чего зависит. А именно: время, проведенное в отделении, близость к дому и стоимость доставки. Честно сказать, СВОЮ службу доставки я искала долго. Рада, что узнала о DragonFlyPost.
                            p 
                                |Заметила баннер DragonFlyPost, когда стояла на остановке, и поняла, что живу совсем рядом с отделением. Запомнила название компании и попросила в следующий раз отправить мне книгу в пункт выдачи DragonFlyPost. Как только заказ пришел, я получила SMS, а вечером зашла и забрала свою посылку. Всё быстро и вежливо – так, как и должно быть. Теперь и сама пользуюсь услугами DragonFlyPost для доставки посылок. Тарифы выгодные, упаковка бесплатная. А оператор уже узнает меня и улыбается при встрече.
                        .show__all
                            button Смотреть полностью >>
                .text__wrapper
                    .col
                        p С 2014 года компания «DragonFlyPost» успешно предоставляет услуги срочной курьерской доставки по Москве как для физических, так и для юридических лиц.
                        p 
                            |Экспресс доставка документов и посылок для организаций, срочная доставка корреспонденции, покупок, цветов, еды, подарков и грузов до 1,5 т. — наиболее 
                            |частые заказы в нашей компании.
                    .col
                        p Круглосуточно на нашем сайте вы можете вызвать курьера всего за минуту и оформить срочную курьерскую доставку без лишней бюрократии, переговоров и звонков в колл-центр. Вы можете заказать как пешего, так и курьера на личном авто. Наша служба экспресс доставки день в день качественно делает свою работу и обеспечивает низкую стоимость курьерских услуг.
        include pug/footer.pug

        +Modal("modalDelivery", "ModalDelivery")

        include pug/scripts.pug