doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        include pug/navbar.pug
        section.first__scroll
            .container.row
                .col__text
                    .text__wrapper
                        h1 
                            |Курьерская служба доставки
                            span 
                                | от 
                                b 200 р.
                        p Экспресс-доставка от двери до двери
                    form.form__wrapper
                        .form__group
                            input(type="text" placeholder="Адрес отправки")
                        .form__group
                            input(type="text" placeholder="Адрес доставки")
                        .radio__wrapper
                            label.radio Пешком
                                input(type="radio" name="delivery_type")
                                span.checkmark
                            label.radio На автомобиле
                                input(type="radio" name="delivery_type")
                                span.checkmark
                        button.btn.orange Расчитать стоимость
                    .info__wrapper
                        .info
                            .image 
                                img(src="assets/images/icons/info_time.png", alt="")
                            .text
                                span 
                                    |среднее время подачи 
                                    br
                                    |курьера 45 минут
                        .info
                            .image 
                                img(src="assets/images/icons/info_count.png", alt="")
                            .text
                                span 
                                    |450 активных 
                                    br
                                    |курьеров
                        .info
                            .image 
                                img(src="assets/images/icons/info_delivery.png", alt="")
                            .text
                                span 
                                    |доставим во время 
                                    br
                                    |или доставка за наш счёт
                .col__img
                    img(src="assets/images/bg/курьер.png", alt="")
        section.compensation
            .container
                h1 
                    |Компенсируем 
                    span до 
                    |25 000 ₽
                    span если посылка будет повреждена или утеряна
                p Вернём ценность посылки в течение 3х рабочих дней
        section.pluses
            .container
                .pluses__wrapper
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_1.png", alt="")
                        .text
                            span Стоимость известна заранее, цена обновляется в процессе заполнения формы
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_2.png", alt="")
                        .text
                            span Максимально быстрое назначение заказа
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_3.png", alt="")
                        .text
                            span Оформить заказ на курьерскую доставку можно без лишних бумаг и сэкономив время
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_4.png", alt="")
                        .text
                            span Оплата наличными или картой
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_5.png", alt="")
                        .text
                            span Смс-уведомления. Статус заказа известен отправителю и получателю
                    .plus
                        .image 
                            img(src="assets/images/icons/plus_6.png", alt="")
                        .text
                            span У вас сохраняются все ваши адреса. Нет необходимости вводить детали поездки каждый раз
        include pug/scripts.pug