include pug/modal.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        include pug/navbar.pug

        section.lawyers
            .container
                h1.title Юр. лицам
                p.info Услуги курьерской службы для юридических лиц за безналичный расчет.
                .btn__switch__wrapper
                    button.btn__tab__switch(target="1").active Как начать работать с DraGonFly Post?
                    button.btn__tab__switch(target="2") Возможности курьерской доставки
                    button.btn__tab__switch(target="3") Дополнительные услуги
                    button.btn__tab__switch(target="4") Личный кабинет клиента
                    button.btn__tab__switch(target="5") SMS и Email информирование
                    button.btn__tab__switch(target="6") Взаиморасчеты
                    button.btn__tab__switch(target="7") Бухгалтерские документы
                .tab__viewer
                    .tab.active(tab-name="1")
                        h2.subtitle.center.tab__title Как начать работать с DraGonFly Post?
                        .cke__wrapper
                            ul
                                li Зарегистрировать личный кабинет юридического лица, нажав по кнопке Вход/Регистрация (справа вверху).
                                li Заполнить реквизиты компании (ИНН, ОГРН, БИК и тп).
                                li Скачать договор. Подписать его. Отсканировать и загрузить файлы в личный кабинет.
                                li Дождаться одобрения договора.
                                li Оплатить счет, присланный по эл. почте.
                            h2 Возможности курьерской доставки:
                            ul
                                li Доставляем документы, полиграфию, цветы, подарки, товары и прочее как пешими, так и авто-курьерами
                                li Доставка день в день. Большая часть отправлений по городу доставляется в течение 2 − 3 часов с момента заказа курьера
                                li Доставка к точному времени (входит в базовый тарифный план)
                                li Доставка на следующий день
                                li Доставка на конкретную дату
                                li Доставка в выходные или ночью
                                li Возврат средств в случае утери отправления
                    .tab(tab-name="2")
                        h2.subtitle.center.tab__title Возможности курьерской доставки
                        .cke__wrapper
                            ul
                                li Зарегистрировать личный кабинет юридического лица, нажав по кнопке Вход/Регистрация (справа вверху).
                                li Заполнить реквизиты компании (ИНН, ОГРН, БИК и тп).
                                li Скачать договор. Подписать его. Отсканировать и загрузить файлы в личный кабинет.
                                li Дождаться одобрения договора.
                                li Оплатить счет, присланный по эл. почте.
                            h2 Возможности курьерской доставки:
                            ul
                                li Доставляем документы, полиграфию, цветы, подарки, товары и прочее как пешими, так и авто-курьерами
                                li Доставка день в день. Большая часть отправлений по городу доставляется в течение 2 − 3 часов с момента заказа курьера
                                li Доставка к точному времени (входит в базовый тарифный план)
                                li Доставка на следующий день
                                li Доставка на конкретную дату
                                li Доставка в выходные или ночью
                                li Возврат средств в случае утери отправления
                    .tab(tab-name="3")
                        h2.subtitle.center.tab__title Дополнительные услуги
                        .cke__wrapper
                            ul
                                li Зарегистрировать личный кабинет юридического лица, нажав по кнопке Вход/Регистрация (справа вверху).
                                li Заполнить реквизиты компании (ИНН, ОГРН, БИК и тп).
                                li Скачать договор. Подписать его. Отсканировать и загрузить файлы в личный кабинет.
                                li Дождаться одобрения договора.
                                li Оплатить счет, присланный по эл. почте.
                            h2 Возможности курьерской доставки:
                            ul
                                li Доставляем документы, полиграфию, цветы, подарки, товары и прочее как пешими, так и авто-курьерами
                                li Доставка день в день. Большая часть отправлений по городу доставляется в течение 2 − 3 часов с момента заказа курьера
                                li Доставка к точному времени (входит в базовый тарифный план)
                                li Доставка на следующий день
                                li Доставка на конкретную дату
                                li Доставка в выходные или ночью
                                li Возврат средств в случае утери отправления
                    .tab(tab-name="4")
                        h2.subtitle.center.tab__title Личный кабинет клиента
                        .cke__wrapper
                            ul
                                li Зарегистрировать личный кабинет юридического лица, нажав по кнопке Вход/Регистрация (справа вверху).
                                li Заполнить реквизиты компании (ИНН, ОГРН, БИК и тп).
                                li Скачать договор. Подписать его. Отсканировать и загрузить файлы в личный кабинет.
                                li Дождаться одобрения договора.
                                li Оплатить счет, присланный по эл. почте.
                            h2 Возможности курьерской доставки:
                            ul
                                li Доставляем документы, полиграфию, цветы, подарки, товары и прочее как пешими, так и авто-курьерами
                                li Доставка день в день. Большая часть отправлений по городу доставляется в течение 2 − 3 часов с момента заказа курьера
                                li Доставка к точному времени (входит в базовый тарифный план)
                                li Доставка на следующий день
                                li Доставка на конкретную дату
                                li Доставка в выходные или ночью
                                li Возврат средств в случае утери отправления
                    .tab(tab-name="5")
                        h2.subtitle.center.tab__title SMS и Email информирование
                        .cke__wrapper
                            ul
                                li Зарегистрировать личный кабинет юридического лица, нажав по кнопке Вход/Регистрация (справа вверху).
                                li Заполнить реквизиты компании (ИНН, ОГРН, БИК и тп).
                                li Скачать договор. Подписать его. Отсканировать и загрузить файлы в личный кабинет.
                                li Дождаться одобрения договора.
                                li Оплатить счет, присланный по эл. почте.
                            h2 Возможности курьерской доставки:
                            ul
                                li Доставляем документы, полиграфию, цветы, подарки, товары и прочее как пешими, так и авто-курьерами
                                li Доставка день в день. Большая часть отправлений по городу доставляется в течение 2 − 3 часов с момента заказа курьера
                                li Доставка к точному времени (входит в базовый тарифный план)
                                li Доставка на следующий день
                                li Доставка на конкретную дату
                                li Доставка в выходные или ночью
                                li Возврат средств в случае утери отправления
                    .tab(tab-name="6")
                        h2.subtitle.center.tab__title Взаиморасчеты
                        .cke__wrapper
                            ul
                                li Зарегистрировать личный кабинет юридического лица, нажав по кнопке Вход/Регистрация (справа вверху).
                                li Заполнить реквизиты компании (ИНН, ОГРН, БИК и тп).
                                li Скачать договор. Подписать его. Отсканировать и загрузить файлы в личный кабинет.
                                li Дождаться одобрения договора.
                                li Оплатить счет, присланный по эл. почте.
                            h2 Возможности курьерской доставки:
                            ul
                                li Доставляем документы, полиграфию, цветы, подарки, товары и прочее как пешими, так и авто-курьерами
                                li Доставка день в день. Большая часть отправлений по городу доставляется в течение 2 − 3 часов с момента заказа курьера
                                li Доставка к точному времени (входит в базовый тарифный план)
                                li Доставка на следующий день
                                li Доставка на конкретную дату
                                li Доставка в выходные или ночью
                                li Возврат средств в случае утери отправления
                    .tab(tab-name="7")
                        h2.subtitle.center.tab__title Бухгалтерские документы
                        .cke__wrapper
                            ul
                                li Зарегистрировать личный кабинет юридического лица, нажав по кнопке Вход/Регистрация (справа вверху).
                                li Заполнить реквизиты компании (ИНН, ОГРН, БИК и тп).
                                li Скачать договор. Подписать его. Отсканировать и загрузить файлы в личный кабинет.
                                li Дождаться одобрения договора.
                                li Оплатить счет, присланный по эл. почте.
                            h2 Возможности курьерской доставки:
                            ul
                                li Доставляем документы, полиграфию, цветы, подарки, товары и прочее как пешими, так и авто-курьерами
                                li Доставка день в день. Большая часть отправлений по городу доставляется в течение 2 − 3 часов с момента заказа курьера
                                li Доставка к точному времени (входит в базовый тарифный план)
                                li Доставка на следующий день
                                li Доставка на конкретную дату
                                li Доставка в выходные или ночью
                                li Возврат средств в случае утери отправления
        include pug/footer.pug
        +Modal("modalDelivery", "ModalDelivery")
        include pug/scripts.pug