include pug/modal.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        include pug/navbar.pug

        section.vacancies
            .container
                h1.title Вакансии
                .grey__text
                    p 
                        |Мы в DragonFlyPost не просто создаем самую быструю курьерскую службу, мы строим мощный, гибкий и инновационный
                        |IT продукт, которому нет аналогов на рынке в России. Мы — молодая, сильная и очень амбициозная команда профессионалов,
                        |которая не останавливается даже перед самыми трудными задачами.
                h2.subtitle.center Кого мы ищем:
                .btn__switch__wrapper
                    button.btn__tab__switch(target="1").active Пеший курьер
                    button.btn__tab__switch(target="2") Курьер с личным автомобилем
                    button.btn__tab__switch(target="3") Менеджер call - центра
                .tab__viewer
                    .tab.active(tab-name="1")
                        h2.subtitle.center.tab__title Вакансия: Пеший курьер
                        .cke__wrapper
                            h2 Требования
                            ul
                                li Пунктуальность, вежливость, опрятный внешний вид
                            h2 Условия:
                            ul
                                li Свободный график. Возможно совмещение с графиками 2/2 и 1/3. Возможна работа 5/2 с утра и до обеда или после обеда и до вечера
                                li Выплаты ежедневно при получении заказа
                            h2 Для начала работы:
                            ul
                                li Скачайте приложение для своего телефона (<a href="#">Скачать для Android</a>/<a href="#">Скачать для iOS</a>)
                                li После установки приложения внесите фамилию и имя, загрузите фото и скан разворота паспорта
                                li Прочитайте памятку курьеру и пройдите короткое интервью по телефону
                                li После интервью можно начать выполнять заказы (в офис приезжать НЕ нужно). Оплата наличными у отправителя посылки
                    .tab(tab-name="2")
                        h2.subtitle.center.tab__title Вакансия: Курьер с личным автомобилем
                        .cke__wrapper
                            h2 Требования
                            ul
                                li Пунктуальность, вежливость, опрятный внешний вид
                            h2 Условия:
                            ul
                                li Свободный график. Возможно совмещение с графиками 2/2 и 1/3. Возможна работа 5/2 с утра и до обеда или после обеда и до вечера
                                li Выплаты ежедневно при получении заказа
                            h2 Для начала работы:
                            ul
                                li Скачайте приложение для своего телефона (<a href="#">Скачать для Android</a>/<a href="#">Скачать для iOS</a>)
                                li После установки приложения внесите фамилию и имя, загрузите фото и скан разворота паспорта
                                li Прочитайте памятку курьеру и пройдите короткое интервью по телефону
                                li После интервью можно начать выполнять заказы (в офис приезжать НЕ нужно). Оплата наличными у отправителя посылки
                    .tab(tab-name="3")
                        h2.subtitle.center.tab__title Вакансия: Менеджер call - центра
                        .cke__wrapper
                            h2 Требования
                            ul
                                li Пунктуальность, вежливость, опрятный внешний вид
                            h2 Условия:
                            ul
                                li Свободный график. Возможно совмещение с графиками 2/2 и 1/3. Возможна работа 5/2 с утра и до обеда или после обеда и до вечера
                                li Выплаты ежедневно при получении заказа
                            h2 Для начала работы:
                            ul
                                li Скачайте приложение для своего телефона (<a href="#">Скачать для Android</a>/<a href="#">Скачать для iOS</a>)
                                li После установки приложения внесите фамилию и имя, загрузите фото и скан разворота паспорта
                                li Прочитайте памятку курьеру и пройдите короткое интервью по телефону
                                li После интервью можно начать выполнять заказы (в офис приезжать НЕ нужно). Оплата наличными у отправителя посылки
        section.reviews
            .container
                .text__wrapper
                    .col
                        p С 2014 года компания «DragonFlyPost» успешно предоставляет услуги срочной курьерской доставки по Москве как для физических, так и для юридических лиц.
                        p 
                            |Экспресс доставка документов и посылок для организаций, срочная доставка корреспонденции, покупок, цветов, еды, подарков и грузов до 1,5 т. — наиболее 
                            |частые заказы в нашей компании.
                    .col
                        p Круглосуточно на нашем сайте вы можете вызвать курьера всего за минуту и оформить срочную курьерскую доставку без лишней бюрократии, переговоров и звонков в колл-центр. Вы можете заказать как пешего, так и курьера на личном авто. Наша служба экспресс доставки день в день качественно делает свою работу и обеспечивает низкую стоимость курьерских услуг.

        include pug/footer.pug
        +Modal("modalDelivery", "ModalDelivery")
        include pug/scripts.pug